* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-title: "Dela Gothic One", cursive;
  --font-family: "inter", sans-serif;
  --text-color: #f0f0f0;
  --primary-color: #050505;
  --font-size: 1rem;
  --orange: #e25d13;
  --dark-yellow: #e3ab44;
}
