@font-face {
  font-family: 'Dela Gothic One'; 
  src: url('/fonts/DelaGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter'; 
  src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0e0d0d;
  --secondary-color: #ffa500;
  --background: #dec8c8;
  --background2: #1c1b1b;
  --text-color: #f5f1f1;
}

body {
  font-family: 'Dela Gothic One', Arial, sans-serif;
}

body.light-mode {
  background-color: var(--background);
  color: var(--primary-color);
}

body.dark-mode {
  background-color: var(--background2);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dela Gothic One', Arial, sans-serif;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}