@import '../../App.css';

.administrator {
  margin-top: var(--spacing-large);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - var(--spacing-medium));
}

.administrator__title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 7rem;
  margin-bottom: var(--spacing-large);
  white-space: normal;
  word-wrap: break-word;
}

.administrator__description {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--spacing-large);
}

.administrator__userManagement,
.administrator__addUser {
  width: 80%;
  margin-bottom: var(--spacing-medium);
  padding: var(--spacing-large);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: var(--spacing-medium);
  box-shadow: var(--shadow-medium);
}

.administrator__sectionTitle {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-medium);
  text-align: center;
}

.administrator__table {
  width: 100%;
  margin-top: var(--spacing-medium);
  border-collapse: collapse;
  text-align: center;
}

.administrator__table th,
.administrator__table td {
  padding: var(--spacing-small);
  border: 1px solid var(--primary-color);
}

.administrator__table th {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.administrator__table td {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.administrator__button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--spacing-small);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.administrator__button:hover {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.administrator__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  align-items: center;
}

.administrator__inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.administrator__label {
  font-size: 1.6rem;
  color: var(--text-light);
}

.administrator__input {
  padding: var(--spacing-small);
  font-size: 1.6rem;
  border: 1px solid var(--primary-color);
  border-radius: var(--spacing-small);
  width: 40%;
}

.administrator__submitButton {
  width: 20%; 
  height: 5rem; 
  font-size: 1.6rem; 
  color: var(--text-light);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--spacing-small); 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.administrator__submitButton:hover {
  background-color: var(--secondary-color-dark);
}