@import '../../App.css';

.administrateur {
  margin-top: var(--spacing-large);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - var(--spacing-medium));
}

.administrateur__title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 7rem;
  margin-bottom: var(--spacing-large);
  white-space: normal;
  word-wrap: break-word;
}

.administrateur__description {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--spacing-large);
}

.administrateur__userManagement,
.administrateur__addUser {
  width: 80%;
  margin-bottom: var(--spacing-medium);
  padding: var(--spacing-large);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: var(--spacing-medium);
  box-shadow: var(--shadow-medium);
}

.administrateur__sectionTitle {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-medium);
  text-align: center;
}

.administrateur__table {
  width: 100%;
  margin-top: var(--spacing-medium);
  border-collapse: collapse;
  text-align: center;
}

.administrateur__table th,
.administrateur__table td {
  padding: var(--spacing-small);
  border: 1px solid var(--primary-color);
}

.administrateur__table th {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.administrateur__table td {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.administrateur__button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--spacing-small);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.administrateur__button:hover {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.administrateur__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  align-items: center;
}

.administrateur__inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.administrateur__label {
  font-size: 1.6rem;
  color: var(--secondary-color);
}

.administrateur__input {
  padding: var(--spacing-small);
  font-size: 1.6rem;
  border: 1px solid var(--primary-color);
  border-radius: var(--spacing-small);
  width: 40%;
}

.administrateur__submitButton {
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: 1.6rem;
  color: var(--text-light);
  background-color: var(--secondary-color);
  border: none;
  border-radius: var(--spacing-small);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.administrateur__submitButton:hover {
  background-color: var(--secondary-color-dark);
  color: var(--text-dark);
}
