@import '../../App.css';

.result {
  margin-top: var(--spacing-large);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.125rem);
}

.result__title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 7rem;
  margin-bottom: var(--spacing-medium);
  white-space: normal;
  word-wrap: break-word;
  font-family: var(--font-primary);
}

.result__description {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--spacing-large);
}

.result__section {
  width: 80%;
  margin-bottom: var(--spacing-medium);
  padding: var(--spacing-medium);
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--shadow-light);
}

.result__section:hover {
  box-shadow: var(--shadow-medium);
}

.result__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
}

.result__dropdown-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.result__dropdown {
  margin: 1.2rem;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.result__dropdown:last-child {
  margin-right: 0;
}

.result__table {
  width: 100%;
  margin-top: var(--spacing-medium);
  border-collapse: collapse;
  text-align: center;
}

.result__table th,
.result__table td {
  padding: var(--spacing-small);
  border: 1px solid var(--primary-color);
}

.result__table th {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.result__table td {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.result__table tr:hover {
  background-color: var(--primary-color);
}