.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 16rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-medium) 0;
  align-items: center;
}

.navbar__logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-large);
}

.navbar__logo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
  margin-top: var(--spacing-large);
}

.navbar__logo:hover {
  transform: scale(1.25); 
}

.navbar__links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__links li a {
  display: block;
  padding: var(--spacing-medium) var(--spacing-large);
  color: var(--primary-color);
  font-size: 0.8rem;
  text-align: center;
  border: 0.125rem solid var(--secondary-color);
  border-radius: 1.6rem;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  background-color: var(--secondary-color);
  width: 100%;
  box-sizing: border-box;
}

.navbar__links li {
  margin: var(--spacing-small) 0;
  width: 100%;
}

.navbar__links li a:hover {
  background-color: transparent;
  color: var(--secondary-color);
}

.navbar__footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-small);
}

.themeToggle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none; 
  border: none; 
  padding: 0;
  margin-bottom: var(--spacing-small);
}

.themeToggle__icon {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.3s ease;
}

.themeToggle__icon:hover {
  transform: scale(1.3);
}

.navbar__footer {
  text-align: center;
  font-size: 1rem;
  color: var(--text-light);
}